.el-table {
  width: 100%
}


.el-table__header tr,
.el-table__header th,
.el-table__body tr,
.el-table__body td {
  padding: 0;
  height: 49px;
  line-height: 49px;
}


.el-table::before {
  width: 0;
}

.el-form-item__content,
.el-select {
  width: 300px;
}

.dialog_container .el-form-item__content {
  width: 300px;
}

.dialog_container .el-select {
  width: 300px;
}
