<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.frame.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.frame.entity.SysPermission">
        <id column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="PERMS" property="perms"/>
        <result column="URL" property="url"/>
        <result column="METHOD" property="method"/>
        <result column="PID" property="pid"/>
        <result column="ORDER_NUM" property="orderNum"/>
        <result column="TYPE" property="type"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DELETED" property="deleted"/>
        <result column="URL_WEB" property="urlWeb"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CODE, NAME, PERMS, URL, METHOD, PID, ORDER_NUM, TYPE, STATUS, CREATE_TIME, UPDATE_TIME, DELETED,URL_WEB
    </sql>

    <select id="getFirstMenus" resultMap="BaseResultMap">
        SELECT
            sp.*
        FROM
            sys_role_permission srp
            LEFT JOIN sys_permission sp ON srp.PERMISSION_ID = sp.id
        WHERE
        sp.type = #{type}
        and
        srp.ROLE_ID = #{roleId}
        and
        sp.pid=#{pId}
        ORDER BY ORDER_NUM
    </select>

</mapper>
