<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.frame.mapper.SysTreeDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.frame.entity.SysTreeData">
        <id column="ID" property="id" />
        <result column="SD_CODE" property="sdCode" />
        <result column="SD_NAME" property="sdName" />
        <result column="SD_PID" property="sdPid" />
        <result column="SD_LEVEL" property="sdLevel" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SYNC_TIME" property="syncTime" />
        <result column="PATH" property="path" />
        <result column="PATH_NAME" property="pathName" />
        <result column="TYPE" property="type" />
        <result column="BZ" property="bz" />
        <result column="SD_PATH" property="sdPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SD_CODE, SD_NAME, SD_PID, SD_LEVEL, CREATE_TIME, UPDATE_TIME, SYNC_TIME, PATH, PATH_NAME, TYPE, BZ, SD_PATH
    </sql>

</mapper>
