<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.frame.mapper.SysUserLoginViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.frame.entity.SysUserLoginView">
        <result column="STATUS" property="status"/>
        <result column="ACCOUNT" property="account"/>
        <result column="SALT" property="salt"/>
        <result column="PASSWORD" property="password"/>
        <result column="ENCRYPTION_PASSWORD" property="encryptionPassword"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime"/>
        <result column="USER_ID" property="userId"/>
        <result column="SD_ID" property="sdId"/>
        <result column="TYPE" property="type"/>
        <result column="ID" property="id"/>
        <result column="REAL_NAME" property="realName"/>
        <result column="PHONE" property="phone"/>
        <result column="SEX" property="sex"/>
        <result column="JH" property="jh"/>
        <result column="ZJHM" property="zjhm"/>
        <result column="SD_CODE" property="sdCode"/>
        <result column="ROLE_ID" property="roleId"/>
        <result column="SD_NAME" property="sdName"/>
        <result column="PATH" property="path"/>
        <result column="SD_PATH" property="sdPath"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="relate_id" property="relateId"/>
        <result column="role_name" property="roleName"/>
        <result column="abnormal_num" property="abnormalNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATUS, ACCOUNT, SALT, PASSWORD, ENCRYPTION_PASSWORD, LAST_LOGIN_TIME, USER_ID, SD_ID, TYPE, ID, REAL_NAME, PHONE, SEX, JH, ZJHM, SD_CODE, ROLE_ID, SD_NAME, PATH, SD_PATH, CREATE_TIME, relate_id,role_name,abnormal_num
    </sql>


    <select id="listPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        sys_user_login_view
        where 1=1
        <if test="sysUserLoginView.sdCode!=null and sysUserLoginView.sdCode!='' ">
            and sd_path like concat('%#',#{sysUserLoginView.sdCode},'#%')
        </if>
        <if test="sysUserLoginView.search!=null and sysUserLoginView.search!='' ">
            and (REAL_NAME like concat('%',#{sysUserLoginView.search},'%') or ACCOUNT like
            concat('%',#{sysUserLoginView.search},'%'))
        </if>

    </select>

    <select id="existRoleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        sys_user_login_view
        where 1=1
        <if test="roleList != null and roleList.size >0 ">
            and role_id in
            <foreach collection="roleList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
