<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.frame.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.frame.entity.SysUser">
        <id column="ID" property="id" />
        <result column="PHONE" property="phone" />
        <result column="REAL_NAME" property="realName" />
        <result column="SEX" property="sex" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SYNC_TIME" property="syncTime" />
        <result column="JH" property="jh" />
        <result column="ZJHM" property="zjhm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PHONE, REAL_NAME, SEX, CREATE_TIME, UPDATE_TIME, SYNC_TIME, JH, ZJHM
    </sql>

</mapper>
